body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.signup{
    display: flex;
    flex-direction: column;
    /* Flex 1 will allow the whole signup section stretch all the way horizontally based on the user's screen */
    flex: 1;
}

.header{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: rgb(122, 107, 211);
}

.signupform{
    background-color: rgb(141, 129, 209);
    display: flex;
    flex-direction: column; 
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 50px;
    margin: 0;
}

li{
    font-size: 20px;
    width: 50%;
    margin: 10px 0px;
}

/* Changes the size of the input bars  */
input[type = text], input[type = email], input[type = tel], input[type = password]{
    /* flex will allow the input boxes to be below the titles */
    /* this happens bc input is a default lnline so when we make it flex, it becomes a box */
    /* this also happens when we do display flex to the label, it becomes a box */
   display: flex;
   width: 70%;
   padding: 10px;
   margin-top: 10px;
   border: none;
   border-bottom: 4px solid black;
   background-color: rgb(141, 129, 209);
   font-size: 20px;
}

label{
    font-size: 25px;
}

.btn_section{
    background-color: rgb(122, 107, 211);
    padding: 50px 50px 200px 50px; 

}

input[type = submit]{
    font-size: 25px;
    width: 40%;
    padding: 10px 40px;
    border-radius: 15px;
    background-color: lightyellow;
    border-color: lightyellow;
}

/* When the user is clicks on the textbox there should be no border*/
input[type]:focus{
    outline: none;
}

/* When the user passwords do not match, the line will be red */
input[type = password].invalid{
    border-bottom: 4px solid red;
}

p{
    font-size: 25px;
}

img{
   max-height: 100%;
   width: 40%;
}

#text{
    padding: 30px 50px 0px;
    font-size: 20px;
    font-weight: bold;
}

